name: Build TSInjectUI

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths-ignore:
      - "**/*.md"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            git make clang lld \
            libplist-utils zstd \
            zip unzip curl rsync

      - name: Setup Theos
